.description{
    font-size: 20px;
    text-decoration: none;
    justify-content: space-between;
    padding-left: 30px;
    line-height: 1.7;
}
.h1 h1{
    display: flex;
    margin:30px;
    padding-bottom: 0px;
    transition: 0.5s;
    transform-origin: center;

}
.h1 h1:hover{
    transform: scale(1.01);

}